body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #0004eb;
    color: #333;
  }
  
  header {
      background-image: url('https://www.eff.org/files/banner_library/social-media-surveillance-1b_0.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: rgb(255, 255, 255);
      font-size: 30px;
      padding: 6rem;
      text-align: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 20px;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #eee;
  }
  
  .hidden {
    display: none;
  }
  
  section {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    font-size: 20px;
  }
  
  section p, section h2, section ul, section div {
    text-align: center;
  }
  
  .tab-section {
    display: none;
  }
  
  .tab-section.active {
    display: block;
  }
  
  
